 *{
 padding: 0; 
 margin: 0; 
 box-sizing: border-box; 
}   
html{
    scroll-behavior: smooth;
}
:root{
    --blue--:linear-gradient(to right, rgb(21, 21, 160), rgb(79, 17, 138))
}
.container{
    display: flex; 
    flex-flow: column nowrap; 
    overflow-x: hidden;   
    overflow-y: hidden;
    max-width: 100vw; 
}  
.header{  
    position: fixed; 
    width: 100vw;
    background:linear-gradient(to right, rgb(21, 21, 160), rgb(79, 17, 138));
    color: white; 
<<<<<<< HEAD
    padding: 3rem 1rem; 
=======
    padding: 3rem 2rem; 
>>>>>>> 512291f (modulo 2 terminado)
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.8rem;   
} 
.accessList{
    display: flex; 
    width: 100%;
    justify-content: space-evenly; 
    align-items: center;
<<<<<<< HEAD
    a{
            text-decoration: none; 
            color: white;  
        } 
    a:hover{
            text-decoration: underline crimson; 
            text-shadow: 1px 1px 5px black;
        }     
}  
=======
   
      
}   
.accessList  a{
    text-decoration: none; 
    color: white;  
}  
.accessList  a:hover{
     text-decoration: underline crimson; 
    text-shadow: 1px 1px 5px black;
        }  
>>>>>>> 512291f (modulo 2 terminado)

.aboutMe{
    display: flex; 
    justify-content: space-around; 
<<<<<<< HEAD
    align-items: center;  
=======
    align-items: center;   
    flex-flow: row wrap;
>>>>>>> 512291f (modulo 2 terminado)
    width: 100%;
    padding: 2rem 1rem;    
    padding-top: 15rem;
    
}   
.aboutMe img{
    width: 30%; 
    border-radius: 50%; 
    box-shadow: 2px 2px 10px gray; 
}
.info_Aboutme{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 1rem; 
    width: 50%; 
    h1{
        font-size: 3.5rem; 
        color: rgb(21, 21, 160); 
    }
} 

.proyect{ 
<<<<<<< HEAD
    display: flex; 
=======
    display: flex;  
    width: 100%;
>>>>>>> 512291f (modulo 2 terminado)
    flex-flow: column nowrap; 
    justify-content: center; 
    align-items: center; 
    padding-top: 5rem; 
    padding-bottom: 5rem; 
    gap: 3rem;
    h3{
        font-size: 2rem; 

    }
} 
.list_proyect{
    width: 100%; 
    height: 45rem; 
    display: flex; 
    flex-flow: wrap nowrap; 
    justify-content: center; 
    align-items: center;
    gap: 2rem; 
} 
.proyectUnid{
    width: 30%;     
    height: 100%;  
    border-radius: 10px; 
    box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.26);    
    background-color: #e0dddd6c;
    display: flex;   
    flex-flow: column nowrap;
    justify-content: space-between; 
    align-items: center; 
    gap: 3rem; 
    padding: 2rem;
    border: none;
    img{
        width: 100%; 
        height: 20rem; 
        border-radius: 10px;  
    } 
    p{
        font-size: 1.2rem;
        padding: 2rem; 
        text-align: center ; 
        
    } 
    .buttonProyect{
        padding: 1.2rem;   
        border:none;
<<<<<<< HEAD
        width: 20rem;
=======
        width: 50%;
>>>>>>> 512291f (modulo 2 terminado)
        color: white;  
        font-weight: 900;
        background: linear-gradient(to right, rgb(21, 21, 160), rgb(79, 17, 138)); 
        border-radius: 10px;  
        font-size: 16px; 
                transition: all .3s ease;

    } 
    .buttonProyect:hover{
        background: white; 
        box-shadow: 2px 2px 5px black; 
        color: rgb(12, 12, 116); 
        transition: all .3s ease;
    }
<<<<<<< HEAD
}
=======
} 
/* menu responsive */ 
.imgResponsive{
    display: none!important;
    font-size: 3rem !important;
} 

/*mediaquerys*/ 
@media (max-width: 750px) { 
    .aboutMe{
        flex-flow: column nowrap; 
        gap: 2rem;   
        img{
            width: 50%;
        }
        .info_Aboutme{
            width: 90%; 
            align-items: center; 
            text-align: center;  
            gap: 1rem;  
            h1{
                font-size: 2.3rem;
            }
            p{
                font-size: 1.2rem; 
                padding-top: 2rem;
            }
        }
    }
    /* project */
    .list_proyect{
        display: flex; 
        flex-flow: column nowrap !important;  
        height: auto; 
        gap: 2rem; 
        width: 100%;
    } 
    .proyectUnid{
        width: 80% ;  
        height: auto;
}  
    .buttonProyect{
        width: 60% !important;  
    } 
    /* end proyect */ 
    .active{
        display: flex  !important;
        flex-flow: column nowrap;  
        width: auto;
        justify-content: flex-end;
        gap: 1rem; 
        transition: all .3s ease; 
        font-size: 1.5rem; 
    } 
    .accessList{   
        display: none ;   
        justify-content: flex-end; 
    }  
    .accessListResponsive{ 
        gap: 2rem; 
        margin-top: 2rem; 
        a{
            font-size: 1.5rem; 
        }
    }   /*clase para responsive*/
    .header{
        flex-flow: column-reverse nowrap;  
        gap: 1rem;
        justify-content: center !important;  
        align-items: flex-end;    
    } 
    .imgResponsive{
        cursor: pointer;
    }
} 
>>>>>>> 512291f (modulo 2 terminado)
