 *{
 padding: 0; 
 margin: 0; 
 box-sizing: border-box; 
}   
html{
    scroll-behavior: smooth;
}
:root{
    --blue--:linear-gradient(to right, rgb(21, 21, 160), rgb(79, 17, 138))
}
.container{
    display: flex; 
    flex-flow: column nowrap; 
    overflow-x: hidden;   
    overflow-y: hidden;
    max-width: 100vw; 
}  
.header{  
    position: fixed; 
    width: 100vw;
    background:linear-gradient(to right, rgb(21, 21, 160), rgb(79, 17, 138));
    color: white; 
    padding: 3rem 1rem; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.8rem;   
} 
.accessList{
    display: flex; 
    width: 100%;
    justify-content: space-evenly; 
    align-items: center;
    a{
            text-decoration: none; 
            color: white;  
        } 
    a:hover{
            text-decoration: underline crimson; 
            text-shadow: 1px 1px 5px black;
        }     
}  

.aboutMe{
    display: flex; 
    justify-content: space-around; 
    align-items: center;  
    width: 100%;
    padding: 2rem 1rem;    
    padding-top: 15rem;
    
}   
.aboutMe img{
    width: 30%; 
    border-radius: 50%; 
    box-shadow: 2px 2px 10px gray; 
}
.info_Aboutme{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 1rem; 
    width: 50%; 
    h1{
        font-size: 3.5rem; 
        color: rgb(21, 21, 160); 
    }
} 

.proyect{ 
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: center; 
    align-items: center; 
    padding-top: 5rem; 
    padding-bottom: 5rem; 
    gap: 3rem;
    h3{
        font-size: 2rem; 

    }
} 
.list_proyect{
    width: 100%; 
    height: 45rem; 
    display: flex; 
    flex-flow: wrap nowrap; 
    justify-content: center; 
    align-items: center;
    gap: 2rem; 
} 
.proyectUnid{
    width: 30%;     
    height: 100%;  
    border-radius: 10px; 
    box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.26);    
    background-color: #e0dddd6c;
    display: flex;   
    flex-flow: column nowrap;
    justify-content: space-between; 
    align-items: center; 
    gap: 3rem; 
    padding: 2rem;
    border: none;
    img{
        width: 100%; 
        height: 20rem; 
        border-radius: 10px;  
    } 
    p{
        font-size: 1.2rem;
        padding: 2rem; 
        text-align: center ; 
        
    } 
    .buttonProyect{
        padding: 1.2rem;   
        border:none;
        width: 20rem;
        color: white;  
        font-weight: 900;
        background: linear-gradient(to right, rgb(21, 21, 160), rgb(79, 17, 138)); 
        border-radius: 10px;  
        font-size: 16px; 
                transition: all .3s ease;

    } 
    .buttonProyect:hover{
        background: white; 
        box-shadow: 2px 2px 5px black; 
        color: rgb(12, 12, 116); 
        transition: all .3s ease;
    }
}